<template name="footer">

    <br>
    <br>

    <footer>
        <div class="container footer_col">
            <div class="row  text-center">
                <!-- logo ve copyright -->
                <div class="col-4 ">
                    <div class="container">
                        <div class="col-6">
                            <img src="images/bordo_logo.png" class="img-fluid" alt="logo">
                        </div>
                        <br>
                        <div class="col-6">
                            <p>© 2021 NBC UNIVERSAL</p>
                        </div>
                    </div>
                </div>

                <!--privacy . . .  -->
                <div class="col-4   list-group">
                    <div class="container">
                        <div>
                            <p>Privac Policy</p>
                        </div>
                        <div>
                            <p>Do not sell my personel info</p>
                        </div>
                        <div>
                            <p>Terms of Service</p>
                        </div>
                        <div>
                            <p>nbcnews.com</p>
                        </div>
                    </div>
                </div>

                <div class="col-4  ">

                    <ul class="list-inline list flex-container">
                        <li>About</li>
                        <li>Contanct</li>
                        <li>Careers</li>
                        <li>Coupons</li>

                    </ul>
                    <br>
                    <ul class="list-inline list flex-container">
                        <li><i class="fa-brands fa-2x fa-instagram"></i></li>
                        <li><i class="fa-brands fa-2x fa-twitter"></i></li>
                        <li><i class="fa-brands fa-2x fa-reddit"></i></li>
                        <li><i class="fa-brands fa-2x fa-facebook"></i></li>
                        <li><i class="fa-brands fa-2x fa-linkedin"></i></li>
                    </ul>


                </div>
            </div>
        </div>
    </footer>

</template>