<template name="navbar">
    <nav class="navbar navbar-expand-sm ">
        <div class="container-fluid">

            <div class="col-md-2 container d-flex text-left">
                <a href="index.html">
                    <img src="/images/bordo_logo.png" width="80px" alt="logo">
                </a>

            </div>

            <div class="col-md-8 d-flex justify-content-center" style="margin-right: 20px;">

                <div class="col-md-3 d-flex align-self-center">
                    <div class="align-items-xl-center">
                        <i class="fa-solid fa-circle" style="font-size:10px; color:rgb(133, 32, 32)"></i>
                        <a href="index.html" class="font-weight-bold text-dark"> Corona Updates</a>
                    </div>
                </div>


                <div class="col-md-5 container d-flex justify-content-center  ">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active m-3"> <a class="h5 nav-link font-weight-normal text-dark"
                                href="">Politics <span class="sr-only">ss</span></a> </li>
                        <li class="nav-item active m-3"> <a class="h5 nav-link font-weight-normal text-dark"
                                href="">Business <span class="sr-only">ss</span></a> </li>
                        <li class="nav-item active m-3"> <a class="h5 nav-link font-weight-normal text-dark"
                                href="">Sports <span class="sr-only">ss</span></a> </li>
                        <li class="nav-item active m-3"> <a class="h5 nav-link font-weight-normal text-dark"
                                href="">World <span class="sr-only">ss</span></a> </li>
                        <li class="nav-item active m-3"> <a class="h5 nav-link font-weight-normal text-dark"
                                href="">Travel <span class="sr-only">ss</span></a> </li>
                        <li class="nav-item active m-3"> <a class="h5 nav-link font-weight-normal text-dark"
                                href="">Podcast <span class="sr-only">ss</span></a> </li>
                        <li class="nav-item active m-3"> <i style="margin-top: 12px; color:rgb(133, 32, 32)"
                                class="fa-solid fa-angles-right"></i></li>
                    </ul>

                </div>

            </div>


            <div class="col-md-2 collapse navbar-collapse" id="navbar_content">

                <!-- Buraya kişi arama ve seçenek kısmı gelsin-->
                <ul class="navbar-nav ml-auto">
                    <!--  Search bar  -->
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-4">
                            <i class="fa-regular fa-user" style="color:rgb(133, 32, 32);font-size :22px;"></i>
                        </div>
                        <div class="col-md-4">
                            <i class="fa-solid fa-magnifying-glass "
                                style="color:rgb(133, 32, 32);font-size :22px;"></i>
                        </div>
                        <div class="col-md-4">
                            <i class="fa-solid fa-bars" style="color:rgb(133, 32, 32);font-size :22px;"></i>
                        </div>

                    </div>

                </ul>

            </div>

        </div>
    </nav>

</template>