
<template name="redline">
<div class="container">
    <!-- Burası kırmızı şerit -->
    <div class=" son_dakika">

        <div class="row">

            <div class="text-right col-sm-3">
                <div class="container breaking ">
                    <p class="son_dakika_text">Son dakika haberleri </p>
                </div>
            </div>
            <div class="text-center col-sm-9">
                <div class="container kk ">
                    <p class="kk_text">Kılıçdaroğlu 2028 seçimlerinde de aday olacağını açıkladı :'( </p>
                </div>
            </div>
        </div>

    </div>
</div>
</template>